<template>
  <Dialog :key="$route.fullPath" v-model:visible="this.$store.state.createPassDialogVisible" closable close-on-escape
          modal>
    <template #header>
      <div>Создание пароля</div>
    </template>

    <h5>Логин сайта</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="data_login" aria-describedby="name-help" placeholder="Логин"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.data_login" id="name-help" class="p-error">
              {{ this.$store.state.validation.data_login }}
            </small>
    </span>
    <h5>Пароль сайта</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-lock" style="position: relative; left: 25px"/>
            <InputText v-model="data_password" aria-describedby="description-help" placeholder="Пароль"
                       type="text"/>
            <br>
            <small v-if="this.$store.state.validation.data_password" id="description-help" class="p-error">
              {{ this.$store.state.validation.data_password }}
            </small>
    </span>
    <h5>Название</h5>
    <span class="p-input-icon-left">
            <i class="pi pi-user" style="position: relative; left: 25px"/>
            <InputText v-model="sitename" aria-describedby="name-help" placeholder="Имя сайта"
                       type="text"/><br>
            <small v-if="this.$store.state.validation.sitename" id="name-help" class="p-error">
              {{ this.$store.state.validation.sitename }}
            </small>
    </span>
    <h5>Дата создания</h5>
    <span class="p-field p-col-12 p-md-4">
            <Calendar v-model="date" dateFormat="dd.mm.yy" style="position: relative; left: 18px"/>
      <br>
            <small v-if="this.$store.state.validation.date" id="birthday-help" class="p-error">
              {{ this.$store.state.validation.date }}
            </small>
    </span>

    <template #footer>
      <Button autofocus icon="pi pi-check" label="Создать" @click="create"/>
    </template>

  </Dialog>
</template>

<script>

import Dialog from 'primevue/dialog';
import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import Calendar from 'primevue/calendar';

import moment from 'moment';

export default {
  name: "CreatePass",
  components: {Dialog, InputText, Button, Calendar},
  data() {
    return {
      data_login: '',
      data_password: '',
      sitename: '',
      date: '',
      visible: false,
      modal: true,
    }
  },
// Вотчер для изменения формата даты, которая возвращается календарем
  watch: {
    date: function () {
      this.date = moment(this.date).format('YYYY-MM-DD');
    },

  },
  methods:
      {
        create() {
          this.$store.dispatch('createPass', {
            data_login: this.data_login,
            data_password: this.data_password,
            sitename: this.sitename,
            date: this.date
          });
        },

      }
}
</script>

<style scoped>

</style>