<template>
   <h1 class="p-text-center ml-6" style="text-align: center;">Пароли</h1>
    <ConfirmDialog></ConfirmDialog>
  <div>
     <ConfirmDialog></ConfirmDialog>
    <DataView :layout="layout" :value="passwords">
   
      <template #grid="slotProps">
        <div class="p-col-12 p-md-3" style="text-align: center; padding: 0.5em">
          <div class="product-grid-item card">
            <Panel>
              <template #header>
                <span>Название сайта: {{ slotProps.data.sitename }}</span>
              </template>
              <template>
                <span class="pi pi-chart-line"></span>
              </template>
              <div>
                <img :alt="slotProps.data.sitename" src="..\..\src\assets\boy.png" style="width: 100px; height:100px;"/>
              </div>
              <div class="p-mt-4" style="text-align: center">
                Логин: {{ (slotProps.data.data_login) }}
                <p>Пароль: {{ (slotProps.data.data_password) }}</p>
              </div>
               
               
                <Button v-tooltip.bottom="'Удалить пароль'" class="p-button-danger p-button-rounded" icon="pi pi-check"
                        @click="delPass(slotProps.data.id)"/>
                <Button v-tooltip.bottom="'Редактировать пароль'" class="p-button-primary p-button-rounded"
                        icon="pi pi-cog"
                        style="margin-left: .5em"/>
            </Panel>
          </div>
        </div>
      </template>
    </DataView>
  </div>
  <Paginator v-model:rows="rows" :rowsPerPageOptions=[2,5,10,50]
             :totalRecords="total" @page="onPage($event)"></Paginator>
</template>
<script>

import '../state.js'
import router from "../router";
import Paginator from 'primevue/paginator';
import DataView from 'primevue/dataview';
import Panel from 'primevue/panel';
import ConfirmDialog from 'primevue/confirmdialog';
import Button from 'primevue/button';

export default {
  name: "Passer",
  components: {Paginator, DataView, Panel, ConfirmDialog, Button},
  data() {
    return {
      rows: 5,
      layout: 'grid'
    }
  },
  methods: {
    onPage(event) {
      this.$store.state.pager.perPage = event.rows;
      this.$store.commit("setPage", event.page + 1);
      console.log(event.page);
      this.$store.dispatch('getPass');
    },
    delPass(id) {
      this.$confirm.require({
        message: 'Вы действительно хотите удалить запись (данное действие необратимо)?',
        header: 'Удаление пароля',
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
          this.$store.dispatch('deletePass', {id})
        },
        reject: () => {
          //callback to execute when user rejects the action
        }
      });
    },
    //Метод для получения возраста из даты рождения
  },
  computed: {
    passwords: function () {
      return this.$store.state.passer;
    },

    total:
        function () {
          return this.$store.state.pager.total;
        }

  },

  mounted() {
    if (this.$store.state.loggedIn) {
      this.$store.dispatch('getPass');
      this.$store.commit("setLoginError", false);
    } else router.push('/');
  },

}
</script>

<style>
</style>