<template>
  <div id="app">
    <Menu></Menu>
    <CreatePass/>
    <router-view :key="$route.fullPath"/>
  </div>
</template>
<script>

import store from "./state";

import Menu from "./components/Menu";
import CreatePass from "./components/CreatePass";

export default {
  components: {Menu, CreatePass},
  data() {
    return {}
  },

  mounted() {
    const token = localStorage.getItem('token');
    if (token) {
      store.commit('setToken', token);
    }
    this.$store.dispatch('getUser')
  }
};
</script>